:root {
    --cl-primary: rgb(95, 108, 62);
    --cl-secondary: rgb(90,152,43);
    --cl-neutral: rgb(220, 213, 210);
    --cl-neutral-transparent: rgba(0, 0, 0, 0.9);
}

/* General */
body {
    background-color: black;
    overflow-x: hidden;
    color: var(--cl-neutral);
}

a {
    text-decoration: none;
    color: var(--cl-neutral);
    transition: ease-in-out 150ms;
}

a:hover {
    color: currentColor;
    opacity: .5;
    transition: ease-in-out 150ms;
}

li {
    list-style: none;
}

main {
    min-height: 80vh;
}

/* Navbar */
.custom-navbar {
    background-color: var(--cl-neutral-transparent);
}

/* Home */
.home-container {
    min-height: 100vh;
    background-image: url('/img/dark-food-1920-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reservations-content {
    margin: 7em 2em;
}

.form-input {
    padding: 0;
    color: var(--cl-primary);
    border: none;
}

/* Display menus */
.display-container {
    height: 100vh;
    background-image: url('../img/cilantro-1920-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.content {
    background-color: var(--cl-neutral-transparent);
    color: var(--cl-secondary);
    font-weight: 900;
    font-size: 1.3em;
    border-radius: 10px;
    padding: .5em 1.5em;
}

/* Forms */
.form-container {
    height: 100vh;
    background-image: url('../img/parsely-1920-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    padding: 2em;
    margin: 2em;
    border: 2px solid var(--cl-neutral);
    border-radius: 10px;
    border: var(--cl-primary) 2px solid;
}

form p {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-top: 1em;
}

form input, select {
    border-radius: 5px;
    border: var(--cl-primary) 2px solid;
}

form button {
    width: 50%;
    margin: 0 auto;
}

.custom-btn {
    background-color: var(--cl-primary);
    color: var(--cl-neutral)
}

/* Django error list */
.errorlist {
    text-align: center;
    background-color: var(--cl-neutral-transparent);
    color: var(--cl-primary);
    margin-top: 1em;
    border-radius: 5px;
}

/* Edit reservation */
.form-options {
    text-align: center;
    margin: 2em;
}

.form-options button {
    margin: 1em;
}

#delete-buttons {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

#delete-options {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* Messages */
.msg-container {
    height: 100vh;
    background-image: url('img/spinach_1920-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.msg {
    background-color: var(--cl-neutral-transparent);
    color: var(--cl-neutral);
    padding: 2em;
    font-weight: 900;
    font-size: large;
    border-radius: 10px;
}



/* Footer */
