@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --cl-primary: rgb(95, 108, 62);
    --cl-secondary: rgb(90,152,43);
    --cl-neutral: rgb(220, 213, 210);
    --cl-neutral-transparent: rgba(0, 0, 0, 0.9);
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Roboto Slab', serif;
}

/* General */
body {
    background-color: black;
    overflow-x: hidden;
    color: var(--cl-neutral);
    font-family: var(--ff-primary);
}

a {
    text-decoration: none;
    color: var(--cl-neutral);
    transition: ease-in-out 150ms;
    font-family: var(--ff-secondary);
}

a:hover {
    color: currentColor;
    opacity: .5;
    transition: ease-in-out 150ms;
}

li {
    list-style: none;
    font-family: var(--ff-secondary);
}

main {
    min-height: 80vh;
}

.content {
    background-color: var(--cl-neutral-transparent);
    color: var(--cl-secondary);
    font-weight: 900;
    font-size: 1.3em;
    border-radius: 10px;
    padding: .5em 1.5em;
}

/* Navbar */
.custom-navbar {
    background-color: var(--cl-neutral-transparent);
}

/* Home */
.home-container {
    min-height: 100vh;
    background-image: url('https://res.cloudinary.com/alerebal/image/upload/v1653903572/static/img/dark-food-1920-2.0d26eaca11e1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-text {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 2.3em;
    font-weight: 900;
    /* color: var(--cl-neutral); */
}

.reservations-content {
    margin: 7em 2em;
}

.form-input {
    padding: 0;
    color: var(--cl-primary);
    border: none;
}

/* Display menus */
.display-container {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/alerebal/image/upload/v1653903570/static/img/cilantro-1920-2.8b1f343a3323.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

/* Forms */
.form-container {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/alerebal/image/upload/v1653903573/static/img/parsely-1920-2.11d354d06e36.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    padding: 2em;
    margin: 2em;
    border: 2px solid var(--cl-neutral);
    border-radius: 10px;
    border: var(--cl-primary) 2px solid;
    font-family: var(--ff-secondary);
}

form p {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-top: 1em;
}

form input, select {
    border-radius: 5px;
    border: var(--cl-primary) 2px solid;
}

form button {
    width: 50%;
    margin: 0 auto;
}


.custom-btn {
    background-color: var(--cl-primary);
    color: var(--cl-neutral)
}

/* Django error list */
.errorlist {
    text-align: center;
    background-color: var(--cl-neutral-transparent);
    color: var(--cl-primary);
    margin-top: 1em;
    border-radius: 5px;
}

/* Edit reservation */
.form-options {
    text-align: center;
    margin: 2em;
}

.form-options button {
    margin: 1em;
}

#delete-buttons {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

#delete-options {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* Messages */
.msg-container {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/alerebal/image/upload/v1653903571/static/img/spinach_1920-2.7bb28f40d3ab.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.msg {
    background-color: var(--cl-neutral-transparent);
    color: var(--cl-neutral);
    padding: 2em;
    font-weight: 900;
    font-size: large;
    border-radius: 10px;
}



/* Footer */
