{% extends 'base.html' %}
{% block content %}
<div class="row form-container">
    {% if duplicated %}
    <div class="col-sm-10 col-md-8 text-center mx-auto message mt-5">
        <p class="msg">
            You already have a reservation at {{user_res.date}} at {{user_res.time}}
        </p>
    </div>
    {% endif %}
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto mt-5">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-options">
                <button type="submit" class="btn btn-sm custom-btn">
                    Update reservation
                </button>
                <div id="delete-buttons">
                    <div >You reservation will be canceled. Are you sure?</div>
                    <div id="delete-options">
                        <a href="{% url 'delete_reservation' reservation_id %}" class="text-danger">
                                Yes
                        </a>
                        <a href="#" onclick="location.reload()" class="text-success">
                                No
                        </a>
                    </div>
                </div>
                <button id="delete-reservation" type="button" class="btn btn-sm custom-btn cancel-btn">
                    Cancel reservation
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}