{% extends 'base.html' %}
{% block content %}
<div class="row form-container">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto mt-5">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit" class="btn btn-sm custom-btn">
                    Update
                </button>
            </p>
        </form>
        <button class="btn btn-danger btn-sm">
            <a href="{% url 'delete_reservation' reservation_id %}">
                Delete
            </a>
        </button>
    </div>
</div>
{% endblock content %}