{% extends 'base.html' %}
{% block content %}
<div class="container-fluid home-container">
    <div class="row reservations-content">
        <div class="col-sm-12 col-md-6 col-lg-8 info text-center">
            {% if msg %}
            <p class="lead content">{{ msg }}</p>
            {% endif %}
            {% if reservations %}
            <div class="home-reservations content text-center">
                <p >Dear {{ name }}, you have
                    {% if qty > 1 %}
                    {{ qty }} reservations
                    {% else %}
                    {{ qty }} reservation
                    {% endif %}
                </p>
                <ul>
                    <hr>
                    {% for res in reservations %}
                    <li>On {{res.date}} at {{res.time}} for 
                        {% if res.guests > 1 %}
                        {{res.guests}} guests
                        {% else %}
                        {{res.guests}} guest
                        {% endif %}
                    </li>
                    <a href="{% url 'edit_reservation' res.pk None %}">Update or cancel the reservation</a>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 email-user">
            <p class="text-center">
                Do you have a reservation? Enter your email to see it
            </p>
            <form method="POST" class="form-input">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button class="btn btn-sm custom-btn">
                        Send
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}